<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#"> 🎬  FilmKolik</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" asp-controller="Home"  asp-action="Index">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Films" asp-action="filmler" >Film Listesi</a>
          </li>        
        </ul>
      </div>
    </div>
  </nav>